<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<description>
		</description>
		<display-name>ClienteSOAP</display-name>
		<servlet-name>ClienteSOAP</servlet-name>
		<servlet-class>bigws.todows.ClienteSOAP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteSOAP</servlet-name>
		<url-pattern>/ClienteSOAP</url-pattern>
	</servlet-mapping>
</web-app>